{% set
text_size_map = {0: 'text-2xl', 1: 'text-xl', 2: 'text-lg', 3: 'text-md'} %}

{% if items %}
	{% for item in items %}
		<li class="flex flex-col items-start justify-center list-none lg:items-center lg:h-full group {{li_classes}}" x-data="{submenuIsOpen: false}">
			<div class="flex flex-row items-center">
				{% if item.children %}
					<div x-on:click="submenuIsOpen = !submenuIsOpen" class="relative flex-shrink-0 self-center w-[14px] h-auto cursor-pointer ">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 100 100" class="transition-transform duration-300 rotate-90 fill-red-500 lg:fill-white lg:group-hover:rotate-180 lg:group-hover:fill-red-500" :class="submenuIsOpen ? '!rotate-180 !fill-red-500' : 'rotate-90'" aria-label="open submenu">
							<polygon points="50, 13.397 100, 100 0, 100"/>
						</svg>
					</div>
				{% endif %}
				<a x-on:click="navIsOpen = false" href="{{ item.url }}" class="{{ item.class }} list-none leading-8 px-[5px] {{text_size_map[item.level]}} {{ item.children ? '' : 'max-lg:pl-[20px]' }}" title="{{item.name}}" aria-label="{{item.name}}">{{ item.name }}</a>
			</div>
			{% if item.children %}
            {# Example of how to handle mega menus if needed. This assumes a mega menu selector is added to menu items through ACF #}
				{# {% if item.meta.megamenu %}
<div x-cloak class="absolute mx-auto top-[112px] w-[calc(100%-46px)] left-1/2 -translate-x-1/2 bg-white hidden lg:group-hover:block shadow-lg z-[98]  h-[calc(100svh-160px)] !max-h-[calc(100svh-160px)] overflow-hidden">
					{% include ('/components/megamenu.twig') with { 'items': item.children } %}
</div>
					<menu x-cloak class="flex flex-col items-start justify-start hidden w-full mt-5 lg:hidden gap-y-5" :class="{ 'hidden' : !submenuIsOpen }">
						{{ render('/components/header-navigation.twig', {items: item.children}) }}
					</menu>
				{% else %} #}
					<menu x-cloak class="lg:border-gray-400 lg:border flex flex-col items-start justify-start hidden w-full lg:w-fit mt-5 lg:group-hover:flex gap-y-5 lg:bg-gray-100 lg:absolute  lg:pl-0 lg:gap-y-0 lg:justify-center lg:items-stretch lg:mt-0 lg:top-[112px] z-[98]" :class="{ 'hidden' : !submenuIsOpen }">
						{{ render('/components/header-navigation.twig', {items: item.children, li_classes: 'lg:py-7 lg:px-16 text-center lg:hover:bg-gray-200 lg:border-b lg:border-gray-400 last:border-none text-black'}) }}
					</menu>
				{# {% endif %} #}
			{% endif %}
		</li>
	{% endfor %}
{% endif %}